.info {
  padding: 70px 0 104px;
  @media (max-width: $mobile) {
    padding: 60px 0;
  }

  &__container {
  }

  &__title {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: rem(50);
      @media (max-width: $mobile) {
        margin-bottom: 40px;
      }
    }
  }

  &__items {
    &:not(:last-child) {
      margin-bottom: rem(80);
      @media (max-width: $mobile) {
        margin-bottom: 60px;
      }
    }
  }

  &__item {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $tablet) {
      gap: 20px;
    }
    @media (max-width: $mobile) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      @media (max-width: $mobile) {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
    }

    &:not(:last-child) {
      margin-bottom: rem(50);
      @media (max-width: $mobile) {
        margin-bottom: 40px;
      }
    }
  }

  &__content {
    max-width: 580px;
    @media (max-width: $mobile) {
      max-width: 100%;
    }

    ul {
      li {
        padding-left: 29px;
        position: relative;


        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 24px;
          height: 24px;
          background: url('@img/svg/arrow-list.svg') center /contain no-repeat;
        }

        &:not(:last-child) {
          margin-bottom: rem(40);
          @media (max-width: $tablet) {
            margin-bottom: 20px;
          }
        }
      }
    }

    p {
      font-size: 14px;
      line-height: math.div(18, 14);
      @media (max-width: $mobileSmall) {
        font-size: 12px;
      }
    }

    h4 {
      font-weight: 500;
      font-size: 22px;
      line-height: 30px;
      @media (max-width: $tablet) {
        font-size: 18px;
      }
      @media (max-width: $mobileSmall) {
        font-size: 16px;
      }

      &:not(:last-child) {
        margin-bottom: rem(5);
      }
    }
  }

  &__image {
    width: percent(600, 1290);
    flex-shrink: 0;

    img {
      border-radius: 16px;
      overflow: hidden;
    }

    @media (max-width: $mobile) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__button {

    &:not(:last-child) {
      margin-bottom: rem(50);
    }
  }

  &__bottom-row {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
    }

  }
}


.info-button {
  width: 100%;
  padding: 13px 112px 13px 13px;
  justify-content: space-between;
  height: auto;
  gap: 20px;
  @media (max-width: $mobile) {
    padding: 13px 29px 13px 13px;
  }
  @media (max-width: $mobileSmall) {
    gap: 10px;
  }

  &__icon {
    width: 67px;
    height: 67px;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    font-weight: 500;
    font-size: 32px;
    line-height: math.div(42, 32);
    @media (max-width: $mobileSmall) {
      width: 55px;
      height: 55px;
      padding: 12px;
    }
  }

  &__center-text {
    @media (max-width: $mobile) {
      font-size: 16px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 14px;
      line-height: math.div(22, 16);
    }
    @media (max-width: em(400)) {
      font-size: 12px;

    }

  }

  &__right-text {
    @media (max-width: $mobile) {
      font-size: 22px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 20px;
      line-height: math.div(26, 22);
    }
    @media (max-width: em(400)) {
      font-size: 16px;

    }
  }
}


.info-bottom-item {
  display: flex;
  align-items: center;
  gap: 20px;
  @media (max-width: $mobileSmall) {
    gap: 15px;
  }

  img {
    height: 80px;
    width: 80px;
    flex-shrink: 0;
    @media (max-width: $tablet) {
      width: 60px;
      height: 60px;
      @media (max-width: $mobileSmall) {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__content {
    h4 {
      font-weight: 500;
      font-size: 32px;
      line-height: math.div(42, 32);
      @media (max-width: $tablet) {
        font-size: 22px;
      }
      @media (max-width: $mobileSmall) {
        font-size: 20px;
      }
      @media (max-width: em(430)) {
        font-size: 18px;
      }
      @media (max-width: em(400)) {
        font-size: 16px;

      }

      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }

    p {
      font-weight: 300;
      font-size: 16px;
      line-height: math.div(26, 16);
      @media (max-width: $mobileSmall) {
        font-size: 14px;
      }
      @media (max-width: em(400)) {
        font-size: 12px;

      }
    }
  }
}

