.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;


  // .options__item
  &__item {
    position: relative;
    cursor: pointer;
    @media (max-width: $tablet) {
      width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: rem(15);
      @media (max-width: $tablet) {
        margin-bottom: 0;
      }
    }
  }

  // .options__input
  &__input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;

    &:checked + .options__label:before {
      background: $blue url('@img/svg/chk.svg') center /10px 8px no-repeat;
      border: 1.5px solid $blue;
    }

  }

  // .options__label
  &__label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;

    &:before {
      content: "";
      width: 20px;
      height: 20px;
      flex: 0 0 20px;
      border: 1.5px solid #D8DADE;
      border-radius: 50%;
    }
  }

  // .options__text
  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: math.div(26, 16);
    display: inline-flex;
    gap: 0px 10px;
    flex-wrap: wrap;
    @media (max-width: $mobileSmall) {
      flex-direction: column;
      align-items: flex-start;
      font-size: 14px;
    }

    b {
      font-weight: 300;
      color: $blue
    }


  }

  &__imgs {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.options-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &__item {
    overflow: hidden;

    &:first-child {
      .options-2__text-bottom {
        border-left: 1px solid #D8DADE;
      }
    }
  }

  &__input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;

    &:checked + .options-2__label .options-2__text-head {
      background: transparent;
      color: $mainColor;

      &::after {

        opacity: 1;
      }
    }

    &:checked + .options-2__label .options-2__text-bottom {
      background: $mainColor;
      color: #fff;
      border: 1px solid $mainColor;
    }

  }

  &__label {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  &__text-head {
    padding: 20px 17px;
    font-weight: 500;
    font-size: 22px;
    flex: 1 1 auto;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    @media (max-width: $tablet) {
      font-size: 18px;
      line-height: math.div(28, 18);
    }
    @media (max-width: $mobile) {
      padding: 4px 10px;
      line-height: math.div(24, 16);
      font-size: 16px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 14px;
    }
    @media (max-width: em(370)) {
      font-size: 12px;
    }

    &::after {
      opacity: 0;
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      height: 6px;

    }

    &.red {
      background: $red;

      &::after {
        background: $red;
      }
    }

    &.orange {

      &::after {
        background: $orange;
      }

      background: $orange;
    }

    &.green {

      &::after {
        background: #4AC34A;
      }

      background: #4AC34A;
    }
  }

  &__text-bottom {
    padding: 20px 5px;
    font-weight: 500;
    font-size: 38px;
    line-height: math.div(48, 38);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #D8DADE;
    border-right: 1px solid #D8DADE;
    @media (max-width: $tablet) {
      font-size: 24px;
    }
    @media (max-width: $mobile) {
      font-size: 16px;
      font-weight: 400;
      padding: 12px 5px;
    }
    @media (max-width: $mobileSmall) {
      font-size: 14px;
    }
    @media (max-width: em(370)) {
      font-size: 12px;

    }
  }
}

